body{
    color: rgb(40, 58, 58);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 20px;
    text-align: center;
    font-size: 30px;
    background-color: black;
    
}
body:hover{
    color: rgb(30, 120, 16);
    background-color: rgb(163, 194, 25);
    animation: cubic-bezier(1.5);
}
button{
    color: aqua;
}
